<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>药材推荐系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
    <!-- 顶部开始 -->
    <div class="header">
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 利用load引入inc中公共部分 -->
        <!--<div class="left-nav"></div>-->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <div class="layui-elem-quote">
                <input type="text" placeholder="请输入" class="input1">
            </div>
            <div class="search-w">
                <button class="search">搜索</button>
            </div>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">资讯推荐</a></legend>
            </fieldset>
            <div class="infor-ul">
                <ul id="myInfor">
                    <!--<li>-->
                        <!--<div class="infor-item">-->
                            <!--<div class="infor-title"><a href="" target="_blank">【安国市场人参行情表现坚挺 商家关注力度较高】</a></div>-->
                            <!--<div class="infor-intro">人参，受产区异常天气影响，商家关注力度较高，前期行情有小幅上扬，现市场人参价格25支货在420元，45支货售价在320元，80支货售价在230元。...</div>-->
                            <!--<div class="item-footer">-->
                                <!--<div class="time">发布时间：2019-05-21 11:42</div>-->
                                <!--<div class="author">作者：安国</div>-->
                                <!--<div class="keyword">品种：人参</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">

    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
	<div class="bg-changer"></div>
    <!-- 背景切换结束 -->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script>
        //引入公共部分
//        $(".left-nav").load("inc/leftMenu");
        $(".header").load("inc/header");
        $(".bg-changer").load("inc/bgChange");
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>