<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>药材推荐系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/dist.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/app.css" />
    <style>
        @media screen and(min-width:1200px){
            .container {
                width: 100% !important;
            }
        }
        a{
            color:#fff;
        }
        .search{
            width: 100px;
            height: 34px;
            background: #41507d;
            border-radius: 30px;
            border: none;
            margin: 0 auto;
        }
        input{
            color: #000;
            margin-left: 10px;
            border-radius: 20px;
            text-indent: 0.7em;
            border: none;
        }
        .plant-p {
            font-size:16px;
            font-weight: 800;
            margin-top: 26px;
            display: none;
        }
        .plant-span {
            color: #ff2929;
            margin: 0 8px;
        }
        .plant-ul li {
            display: inline-block;
            margin-right: 42px;
        }
        .plant-ul{
            margin-bottom: 30px;
        }
        #pieChart{
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
        #columnChart{
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            right: 0;
        }
        .fill-h {
            position: relative;
        }
        .plant-text{
            position:absolute;
            left: 0;
            top: 0;
            width: 50%;
        }
        .span-select{
            color:#000;
        }
        option{
            color: #000;
        }
        .myposition,.shuliang,.trans{
            margin-left: 20px;
        }
        #shuliang,#trans{
            width: 130px;
        }
        .province,.city,.town{
            padding: 0 0 6px 13px;
            border-radius: 10px;
        }
        .text1{
            color: #54fc09;
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 4px;
            margin-bottom: 15px;
        }
        span#rd_p {
            margin-left: 10px;
            color: red;
            font-size: 20px;
        }
        span#rd_m {
            margin-left: 10px;
            color: blue;
            font-size: 20px;
        }
        .ul_result li{
            display: none;
        }
        .ul_title li{
            font-size: 16px;
            color: #f2f2f2;
            font-weight: 800;
            border-right: 1px solid;
            text-align: center;
            cursor: pointer;
        }
        .ul_title .active{
            color: red;
        }
        .ul_title li:last-child{
            border-right: none;
        }
        .ul_result p{
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
        .ul_title{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            display: grid;
        }
        .dist{
            float: right;
            margin:0 100px;
        }
        .ul_title .danjia_text{
            margin-top:50px;
        }
        .danjia_name{
            font-weight:800;
            color: #12ff24
        }
        .lirun p:first-child{
            color: #12ff24
        }
    </style>
</head>
<body>
<!-- 顶部开始 -->
<div class="header"></div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">

    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <div class="search-block">
                <label for="drugname">药材名称</label>
                <input type="text" id="drugname">
                <label class="myposition">所在地区</label>
                <span class="span-select margin-left1">
                     <select name="province" id="province" class="province">
                     </select>
                </span>
                <span class="span-select">
                     <select name="city" id="city" class="city">
                             <option value="-2">所有市</option>
                     </select>
                </span>
                <span class="span-select">
                     <select name="town" id="town" class="town">
                             <option value="-2">所有县</option>
                     </select>
                </span>
                <label class="shuliang">供应数量</label>
                <input type="text" id="shuliang" placeholder="默认1000">
                <label class="trans">运输价格/100公里</label>
                <input type="text" id="trans" placeholder="默认500">
                <button class="search">搜索</button>
            </div>
            <div class="main">
                <div class="wrapper2">
                    <div class="container-fluid">
                        <div class="row fill-h">
                            <div class="col-lg-6 fill-h">
                                <div class="xpanel-wrapper xpanel-wrapper-1">
                                    <div class="xpanel">
                                        <!-- 地图飞线 -->
                                        <div class="fill-h" id="flyMap"></div>
                                    </div>
                                </div>
                                <div class="xpanel-wrapper xpanel-wrapper-2">
                                    <div class="xpanel">
                                        <!-- 地图散点 -->
                                        <div class="fill-h" id="scatterMap2">
                                            <ul class="ul_title">
                                                <li class="active">距市场最近</li>
                                                <li>距您最近</li>
                                                <li>单价最高</li>
                                                <li>收益最高</li>
                                            </ul>
                                            <ul class="ul_result">
                                                <li style="display: block"></li>
                                                <li></li>
                                                <li></li>
                                                <li class="lirun"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 fill-h">
                                <div class="xpanel-wrapper xpanel-wrapper-2">
                                    <div class="xpanel">
                                        <!-- 地图散点 -->
                                        <div class="fill-h" id="scatterMap">
                                            <div class="plant-text">
                                                <p class="plant-p">种植<span class="plant-span"></span>的农户会把他们种植在这些区域</p>
                                                <ul class="plant-ul" id="plantList1">
                                                </ul>
                                                <p class="plant-p">根据种植区域<span class="plant-span"></span>与这些药材相近</p>
                                                <ul class="plant-ul" id="plantList2">
                                                </ul>
                                            </div>
                                            <div id="pieChart"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="xpanel-wrapper xpanel-wrapper-1">
                                    <div class="xpanel">
                                        <!-- 地图散点 -->
                                        <div class="fill-h" id="scatterMap3">
                                            <div id="columnChart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">

</div>

<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div class="bg-changer"></div>
<!-- 背景切换结束 -->
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script>
    //引入公共部分
//    $(".left-nav").load("inc/leftMenu");
    $(".header").load("inc/header");
    $(".bg-changer").load("inc/bgChange");
</script>
<!--<script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>-->
<script src="../static/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/xadmin.js"></script>
<script type="text/javascript" src="../static/js/city/city.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-3.8.5.min.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-map-world.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-map-china.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-china-provinces/jiangsu.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-china-cities/jiang1_su1_su1_zhou1.js"></script>
<script type="text/javascript" src="../static/js/plantjs/echarts-china-counties/jiang1su1_su1zhou1_kun1shan1shi4.js"></script>
<script type="text/javascript">
    $(function() {
        /******************* 地图飞线 ******************/
            //初始化echarts实例
        const flyMap = echarts.init(document.getElementById("flyMap"));
        const pieChart = echarts.init(document.getElementById("pieChart"));
        const columnChart = echarts.init(document.getElementById("columnChart"));
        //城市经纬度
        const originName = '西安';
        var flyGeo = {
//            '洛阳': [112.460299, 34.62677],
        };
        //飞线数据
        var flyVal = [
//            [{name: '洛阳'}, {name: '洛阳', value: 100}],
        ];
        var pieData=[
            {value:0.25,name:'广州'},
            {value:0.2,name:'河北'},
            {value:0.1,name:'南京'},
            {value:0.4,name:'厦门'},
            {value:0.05,name:'其他'}
        ]
        //数据转换，转换后格式：[{fromName:'cityName', toName:'cityName', coords:[[lng, lat], [lng, lat]]}, {...}]
        const convertFlyData = function(data) {
            var res = [];
            for(var i=0;i<data.length;i++) {
                var dataItem = data[i];
                var toCoord = flyGeo[dataItem[0].name];
                var fromCoord = flyGeo[dataItem[1].name];
                if(fromCoord && toCoord) {
                    res.push({
                        fromName: dataItem[1].name,
                        toName: dataItem[0].name,
                        coords: [fromCoord, toCoord]
                    });
                }
            }
            return res;
        };
        //柱状图数据
        var column_market = ['荷花池','玉林','亳州','安国'];
        var column_position = ['广州', '河北', '南京',"厦门"];
        var column_data = [
                [1264.089, 1230.839, 276.424, 771.415],
                [1257.621, 1759.433, 479.493, 80.643],
                [1367.076, 1690.808, 334.608, 251.834],
                [5.156, 1076.092, 1154.167, 1342.337],
        ]
        var column_data_obj =[];

        //报表配置
        function renderFly() {
            const flySeries = [];
            [[originName, flyVal]].forEach(function(item, i) {
                flySeries.push({
                    name: item[0],
                    type: 'lines',
                    zlevel: 1,
                    symbol: ['none', 'none'],
                    symbolSize: 0,
                    effect: { //特效线配置
                        show: true,
                        period: 5, //特效动画时间，单位s
                        trailLength: 0.1, //特效尾迹的长度，从0到1
                        symbol: 'arrow',
                        symbolSize: 5
                    },
                    lineStyle: {
                        normal: {
                            color: '#f19000',
                            width: 1,
                            opacity: 0.6,
                            curveness: 0.2 //线的平滑度
                        }
                    },
                    data: convertFlyData(item[1])
                }, {
                    name: item[0],
                    type: 'effectScatter',
                    coordinateSystem: 'geo',
                    zlevel: 2,
                    rippleEffect: { //涟漪特效
                        period: 5, //特效动画时长
                        scale: 4, //波纹的最大缩放比例
                        brushType: 'stroke' //波纹的绘制方式：stroke | fill
                    },
                    label: {
                        normal: {
                            show: false,
                            position: 'right',
                            formatter: '{b}'
                        }
                    },
                    symbol: 'circle',
                    symbolSize: function (val) {
                        //根据某项数据值设置符号大小
                        return val[2] / 10;
                    },
                    itemStyle: {
                        normal: {
                            color: '#f19000'
                        }
                    },
                    data: item[1].map(function(dataItem) {
                        return {
                            name: dataItem[1].name,
                            value: flyGeo[dataItem[1].name].concat([dataItem[1].value])
                        };
                    })
                }, { //与上层的点叠加
                    name: item[0],
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    zlevel: 3,
                    symbol: 'circle',
                    symbolSize: function (val) {
                        //根据某项数据值设置符号大小
                        return val[2] / 15;
                    },
                    itemStyle: {
                        normal: {
                            color: '#f00'
                        }
                    },
                    data: item[1].map(function(dataItem) {
                        return {
                            name: dataItem[1].name,
                            value: flyGeo[dataItem[1].name].concat([dataItem[1].value])
                        };
                    })
                });
            });

            //报表配置项
            const flyMapOpt = {
                title: {
                    show: false,
                    text: '地图飞线',
                    x: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        if(params.value) {
                            return params.name + ' : ' + params.value[2];
                        }else {
                            return params.name;
                        }
                    }
                },
                geo: {
                    map: 'china',
                    roam: false, //开启鼠标缩放和漫游
                    zoom: 1, //地图缩放级别
                    selectedMode: false, //选中模式：single | multiple
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0,
                    layoutCenter: ['50%', '50%'], //设置后left/right/top/bottom等属性无效
                    layoutSize: '100%', //保持地图宽高比
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        normal: {
                            areaColor: '#101f32',
                            borderWidth: 1.1,
                            borderColor: '#43d0d6'
                        },
                        emphasis: {
                            areaColor: '#069'
                        }
                    }
                },
                series: flySeries
            };
            //渲染报表
            flyMap.setOption(flyMapOpt);
        }
        function renderPie() {
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}  ({d}%)"
                },
                series : [
                    {
                        name: '种植比例',
                        type: 'pie',
                        label:{
                            normal:{
                                show:true,
                                textStyle : {
                                    fontWeight : 300 ,
                                    fontSize : 18,    //文字的字体大小
                                    color:"#fff"
                                },
                            }
                        },
                        data:pieData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            },
                        }
                    }
                ]
            };

            pieChart.setOption(option);
        }
        function renderColumn() {
            var option = {
                title: {
                    text: '适宜种植地-市场距离'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: column_position
                },
                grid: {
                    left: 100
                },
                xAxis: {
                    type: 'value',
                    name: 'km',
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                yAxis: {
                    type: 'category',
                    inverse: true,
                    data: column_market
                },
                series: column_data_obj
            };
            columnChart.setOption(option);
        }

        renderFly();
//        renderPie();
//        renderColumn();
        $(".search").on('click',function(){
            var keyword = $("#drugname").val();
            var province = $("#province").val();
            var number = $("#shuliang").val()||"1000";
            var trans = $("#trans").val()||"500";
            var city = $("#city").val();
            var town = $("#town").val();
            console.log(number,trans);
            if(keyword==""){
                alert("请输入药材名称");
                return;
            }
            if(!/^\d+$/.test(number)){
                alert("供应数量：请输入整数！");
                return;
            }
            if(!/^\d+$/.test(trans)){
                alert("运输价格：请输入整数！");
                return;
            }
            var data ={
                "drugname":keyword,
                "position":province+'#'+city+"#"+town,
                "number":parseInt(number),
                "trans":parseInt(trans),
            }
            console.log(data)
            $.ajax({
                type:'get',
                url:'/getFlyOption',
                data:data,
                headers:{"Content-Type":"application/json"},
                dataType:'json',
                success:function(ret){
                    console.log(ret)
                    var other = 1;
                    var li_1 = "";
                    if(ret.elements.code=="1009"){
                        alert("您输入的药材错误或不存在，请重新输入");
                        return false;
                    }
                    flyGeo = ret.elements.flyGeo;
                    flyVal = ret.elements.flyVal;
                    pieData = ret.elements.plantData;
                    pieData.forEach(function (item,index) {
                        other -=item.value;
                        li_1 += "<li>"+item.name+"</li>";
                    })
                    if(other!=0){
                        pieData.push({
                            value:other,
                            name:'其他'
                        })
                    }
                    $(".plant-span").text(keyword);
                    $("#plantList1").html(li_1);

                    //距离图
                    column_position = ret.elements.columnConfig.column_position;
                    column_market = ret.elements.columnConfig.column_market;
                    column_data = ret.elements.columnConfig.column_data;
                    column_data_obj=[];
                    for(var i=0;i<column_data.length;i++){
                        column_data_obj.push({
                            name: column_position[i],
                            type: 'bar',
                            data: column_data[i],
                        })
                    }
                    renderFly();
                    renderPie();
                    renderColumn();
                    $(".plant-p").show();
                    $.ajax({
                        type:'get',
                        url:'/DrugSim',
                        data:data,
                        headers:{"Content-Type":"application/json"},
                        dataType:'json',
                        success:function(ret){
                            var druglist=ret;
                            var drug_li="";
                            $.each(druglist.slice(1,8),function (index,item) {
                                drug_li+="<li>"+item.name+"</li>";
                            })
                            $("#plantList2").html(drug_li);
                        }
                    })

                    //获取选择菜单栏内容
                    var li_1='',li_2='',li_3='',li_4='';
                    var PMD = ret.elements.PMD;
                    //li_1
                    var li_1_data = PMD.sort(function (v1,v2) {
                        return v1.distance-v2.distance;
                    })
                    li_1_data.slice(0,4).forEach(function (val) {
                        li_1 += '<p><span class="p_start">'+val.start+'</span>------<span class="p_end">'+val.end+'</span><span class="dist">'+Math.ceil(val.distance)+'km</span></p>';
                    })
                    $(".ul_result li").eq(0).html(li_1);
                    //li_2
                    var mydistence=ret.elements.my_distance;
                    var li_2_data = mydistence.sort(function (v1,v2) {
                        return v1.dist-v2.dist;
                    });
                    if(li_2_data.length>0){
                        li_2 += '<p class="danjia_text">根据您所在区域，为您推荐种植地区为：<span class="danjia_name">'+li_2_data[0].end+'</span></p><p class="max_danjia">距离为<span>'+li_2_data[0].dist+'km</span></p>';
                    }else {
                        li_2 +='<p>您还未输入您的位置</p>';
                    }
                    $(".ul_result li").eq(1).html(li_2);
                    //li_3
                    var max_danjia = ret.elements.max_danjia;
                    li_3 += '<p class="danjia_text">根据最高单价为你推荐供应药材市场：<span class="danjia_name">'+max_danjia.market+'</span></p><p class="max_danjia">价格为<span>￥'+max_danjia.price+'/'+max_danjia.guige+'</span></p>'
                    $(".ul_result li").eq(2).html(li_3);
                    //li_4
                    var li_4_data = PMD.sort(function (v1,v2) {
                        return v2.lirun-v1.lirun;
                    })
                    for(var i=0;i<li_4_data.length;i++){
                        if(li_4_data[i].lirun<=0||i==4){
                            break;
                        }else {
                            li_4 += '<p><span class="p_start">'+li_4_data[i].start+'</span>------<span class="p_end">'+li_4_data[i].end+'</span><span class="dist">￥'+Math.ceil(li_4_data[i].lirun)+'</span></p>';
                        }
                    }
                    if(li_4.length<=0){
                        $(".ul_result li").eq(3).html('<p>抱歉，您的供应数量太少或运输成本过高，您无法获得利润</p>');
                    }else {
                        $(".ul_result li").eq(3).html(li_4);
                    }

                }
            })

        })

        $(".ul_title").on('click','li',function (e) {
            var index = $(this).index()
            $(".ul_title li").eq(index).addClass('active').siblings().removeClass('active');
            $(".ul_result li").eq(index).show().siblings().hide();
        })
        
        /********** 浏览器窗口改变时，重置报表大小 ****************/
        window.onresize = function() {
            flyMap.resize();
            scatterMap.resize();
            worldMap.resize();
            provinceMap.resize();
            cityMap.resize();
            countyMap.resize();
        }
        var provinceList=[];
        var cityList=[];
        var townList=[];
        function provinceInit(){
            var optionProvince = '<option value="-1">所有省份</option>'
            $.each(zNodes,function (i,val) {
                if(val["pId"]=="-1"){
                    provinceList.push(val);
                    optionProvince+='<option value="'+val.name+'">'+val.name+'</option>'
                }else if(val["grade"]=="2"){
                    cityList.push(val);
                }else if(val["grade"]=="3"){
                    townList.push(val);
                }
            })
//        console.log(provinceList);
            $("#province").append(optionProvince);
            $("#province").change(function () {
                var province_id = '';
                var val = $(this).val();
                for(var i=0; i<provinceList.length; i++) {
                    if(val === provinceList[i].name) {
                        province_id = provinceList[i].id;
                    }
                }
                var optionCity ='<option value="-2">所有市</option>';
                $.each(cityList,function (i,val) {
                    if(val.pId == province_id){
                        optionCity+='<option value="'+val.name+'">'+val.name+'</option>';
                    }
                })
                $("#city").html(optionCity);
            })
            $("#city").change(function () {
                var city_id = '';
                var val = $(this).val();
                for(var i=0; i<cityList.length; i++) {
                    if(val === cityList[i].name) {
                        city_id = cityList[i].id;
                    }
                }
                var optionTown ='<option value="-2">所有县</option>';
                $.each(townList,function (i,val) {
                    if(val.pId == city_id){
                        optionTown+='<option value="'+val.name+'">'+val.name+'</option>';
                    }
                })
                $("#town").html(optionTown);
            })
        }
        provinceInit();
    });
</script>
</body>
</html>