<div class="container">
    <div class="logo"><a href="../static/index.html">药材推荐系统</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item"><a href="/class">药材分类</a></li>
        <li class="layui-nav-item"><a href="/">药材资讯推荐</a></li>
        <li class="layui-nav-item"><a href="/dist">药材分布</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">个人信息</a></dd>
                <dd><a href="">切换帐号</a></dd>
                <dd><a href="../static/login.html">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/">前台首页</a></li>
    </ul>
</div>