<div id="side-nav">
    <ul id="nav">
        <li class="list" current>
            <a href="/class">
                <i class="iconfont">&#xe761;</i>
                药材分类
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
        </li>
        <li class="list">
            <a href="/">
                <i class="iconfont">&#xe70b;</i>
                药材资讯推荐
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
        </li>
        <li class="list" >
            <a href="/dist">
                <i class="iconfont">&#xe6a3;</i>
                药材分布
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
        </li>
    </ul>
</div>